body {
    background-color: #f0d0d1;
    
  }
  
p{
  font-size: 27px;
  background-color: #999b85;
  color: #ebeccc;
  display: inline-block;
  padding: 4px;

}
 h1{
  color: #cb999e;
  background-color: #f7dbde;
  display: inline-block;
  padding: 2px;
 }
a {
  font-size: 22px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  text-decoration: overline;
  color: rgb(57, 11, 11);
}

img{
  border-radius:50%;
  background-color: #3f3f3fcb;
}

.ad{
  border: 3px solid salmon;
}

table{
  font-size: 27px;
  background-color: #999b85;
  color: #ebeccc;
  display: inline-block;
  padding: 10px;
}
